* {
    margin: 0;
    padding: 0;
}

body{
    background-color:  #141414;
}

.slider{
    width: 70%;
    height: 40%;
    overflow: hidden;
    border: 10px solid honeydew;
}

.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container{
    max-width: 1200px;
}

.navigation{
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bar{
    height: 9px;
    width: 30px;
    margin: 6px;
    cursor: pointer;
    background-color: #ddd;
    opacity: .5;
    border-radius: 2px;
    transition: all .4px ease;
}

.bar:hover{
    opacity: 0.8;

    transform: scale(1.1);
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
    width: 400%;
    height: 100%;
    display: flex;
}

.slide{
width: 25%;
transition: all .6s ease;
}

.slide img{
    width: 100%;
    height: 100%;
}


#r1:checked ~ .sl {
    margin-left: 0%;
}

#r2:checked ~ .sl {
    margin-left: -25%;
}

#r3:checked ~ .sl {
    margin-left: -50%;
}

#r4:checked ~ .sl {
    margin-left: -75%;
}
